################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeodataLoaderTest
/data/l2j
/data
/Debug_x64
/Intermediate
/GeodataLoaderTest.sdf
/Release_x64
